<h5>配送先編集</h5>

<% if @address.errors.any? %>
 <div id="error_explanation">
  <h2><%= @address.errors.count %>件のエラーが発生しました</h2>
   <ul>
    <% @address.errors.full_messages.each do |message| %>
     <li><%= message %>
    <% end %>
     </li>
   </ul>
 </div>
<% end %>

<%= form_with model:@address,local:true do |f| %>
<table>
  <tr>
    <th>郵便番号</th>
    <td><%= f.text_field :postal_code %></td>
  </tr>
  
  <tr>
    <th>住所</th>
    <td><%= f.text_field :address %></td>
  </tr>
  
  <tr>
    <th>宛名</th>
    <td><%= f.text_field :name %></td>
  </tr>
    
</table>

 <span><%= f.submit "変更内容を保存",class:"btn btn-success" %></span>
    
<% end %>