<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <% if customer_signed_in? %>
      <ul class= "navi">
        
        <li>
          <%= link_to "ログアウト",destroy_customer_session_path, method: :delete %>
        </li>
        <% else %>
      <li>
        <%= link_to "about",home_about_path,class:"nav-linl text-dark" %>
      </li>
      
      <li>
        <%= link_to "新規登録",new_customer_registration_path %>
      </li>
      
      <li>
        <%= link_to"ログイン",customer_session_path %>
      </li>
      </ul>
      
      <% end %>
    </header>
    
    <%= yield %>
    
    <footer>
      <div class="container mt-5">
        
      </div>
    </footer>
  </body>
</html>